body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(270deg, #D3D3D3, #FFFFFF, #D3D3D3, #FFFFFF);
            background-size: 400% 400%; /* Pour permettre à l'animation de bouger */
            animation: gradient-animation 5s ease infinite; /* Durée et type d'animation */
        }

        @keyframes gradient-animation {
            0% {
                background-position: 0% 50%; /* Début de l'animation */
            }
            50% {
                background-position: 100% 50%; /* Milieu de l'animation */
            }
            100% {
                background-position: 0% 50%; /* Fin de l'animation */
            }
        }


.payment-container {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 400px;
}
h1 {
    text-align: center;
    color: #333;
}
.payment-option {
    margin-bottom: 20px;
}
.payment-details {
    display: none;
    margin-top: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
}
label {
    display: block;
    margin: 5px 0;
}
input[type="text"],
input[type="email"] {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
button:hover {
    background-color: #218838;
}
.search-container {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    position: relative;
}

#search {
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 15px;
    border: none;
    background-color: #c4c4c4;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 5px;
}

button:hover {
    background-color: #dbdbdb;
}

#results {
    margin-top: 20px;
}

/* Style pour les suggestions */
#suggestions {
    position: absolute;
    top: 40px;
    left: 0;
    width: 375px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    max-height: 150px;
    overflow-y: auto;
    z-index: 1000;
    margin-left: 40%;
}

.suggestion {
    padding: 10px;
    cursor: pointer;
}

.suggestion:hover {
    background-color: #f0f0f0;
}